html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: "lunchbox"; src: url("../fonts/lunchbox.eot"); src: url("../fonts/lunchbox.eot?#iefix") format("embedded-opentype"), url("../fonts/lunchbox.woff2") format("woff2"), url("../fonts/lunchbox.woff") format("woff"), url("../fonts/lunchbox.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "lunchbox_bold"; src: url("../fonts/lunchbox_bold.eot"); src: url("../fonts/lunchbox_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lunchbox_bold.woff2") format("woff2"), url("../fonts/lunchbox_bold.woff") format("woff"), url("../fonts/lunchbox_bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "wisdom_script"; src: url("../fonts/wisdom_script.eot"); src: url("../fonts/wisdom_script.eot?#iefix") format("embedded-opentype"), url("../fonts/wisdom_script.woff2") format("woff2"), url("../fonts/wisdom_script.woff") format("woff"), url("../fonts/wisdom_script.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "book_akhanake"; src: url("../fonts/book_akhanake.eot"); src: url("../fonts/book_akhanake.eot?#iefix") format("embedded-opentype"), url("../fonts/book_akhanake.woff2") format("woff2"), url("../fonts/book_akhanake.woff") format("woff"), url("../fonts/book_akhanake.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; min-width: 320px; width: 100%; height: 100%; }

.out { width: 100%; height: 100%; min-width: 320px; }

.svg-icon { width: 100%; height: 100%; background: inherit; fill: inherit; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.intro { background-image: url("../img/bg-intro.jpg"); background-repeat: no-repeat; background-position: bottom left; background-size: cover; color: #FFF; width: 100%; height: 100%; display: table; table-layout: fixed; }

.intro__outer { display: table-cell; width: 100%; height: 100%; vertical-align: middle; text-align: center; background: rgba(0, 0, 0, 0.3); }

.intro__inner { display: inline-block; width: 100%; max-width: 580px; padding: 20px; -moz-box-sizing: border-box; box-sizing: border-box; }

.logo { text-align: center; fill: #FFF; }

.logo__top { width: 96px; height: 50px; margin: 0 auto -6.2963%; position: relative; }

.logo__main { position: relative; left: -4px; width: 100%; max-width: 540px; margin: auto; }

.curved-container { position: relative; text-align: center; margin-bottom: -20px; }
.curved-container .svg-text { fill: #fff; width: 230px; height: 60px; line-height: 1; font-size: 18px; letter-spacing: 0.12em; text-transform: uppercase; font-family: "lunchbox", Arial, sans-serif; font-weight: normal; }

.lang { position: relative; max-width: 280px; margin: -5% auto 0; *zoom: 1; fill: #FFF; }
.lang:after { content: " "; display: table; clear: both; }
.lang:before { content: ""; position: absolute; bottom: 2px; left: 50%; width: 8px; height: 8px; margin-left: -3px; background: #FFF; border-radius: 50%; }
.lang .icon-line-left, .lang .icon-line-right { width: 100px; height: 16px; line-height: 1; }
.lang .icon-line-left:first-child, .lang .icon-line-right:first-child { width: 86px; }
.lang .icon-logo-bottom { width: 80px; height: 76px; line-height: 1; margin: 0 auto -43px; }

.lang__left, .lang__right { position: relative; width: 50%; -moz-box-sizing: border-box; box-sizing: border-box; fill: #FFF; color: #FFF; line-height: 56px; -webkit-transition: linear 0.1s; transition: linear 0.1s; cursor: pointer; }
.lang__left:hover, .lang__left:focus, .lang__right:hover, .lang__right:focus { fill: #EF5A28; color: #EF5A28; }

.lang__left { float: left; text-align: right; padding-right: 48px; }
.lang__left .icon-line-left { position: absolute; bottom: -2px; right: 15px; }
.lang__left .icon-line-left:first-child { top: -5px; right: 45px; bottom: auto; }

.lang__right { float: right; text-align: left; padding-left: 48px; }
.lang__right .icon-line-right { position: absolute; bottom: -2px; left: 15px; }
.lang__right .icon-line-right:first-child { top: -5px; left: 45px; bottom: auto; }

.lang__link { font-size: 18px; font-family: "lunchbox_bold", Arial, sans-serif; font-weight: normal; text-transform: uppercase; color: inherit; text-decoration: none; letter-spacing: 0.13em; -webkit-tap-highlight-color: transparent; }

.lang-extra { position: relative; margin-top: 20px; line-height: 1; fill: #FFF; }
.lang-extra:before { content: ""; position: absolute; bottom: -3px; left: 50%; width: 10px; height: 10px; margin-left: -5px; background: #FFF; border-radius: 50%; }
.lang-extra:after { content: ""; display: block; width: 70px; height: 3px; margin: 18px auto 0; background: #FFF; border-radius: 50%; }
.lang-extra .icon-arrows-left, .lang-extra .icon-arrows-right { display: inline-block; vertical-align: middle; width: 29px; height: 11px; line-height: 1; }

.lang-extra__link { display: inline-block; vertical-align: middle; margin: 0 15px; font-family: "book_akhanake", Arial, sans-serif; font-weight: normal; font-size: 20px; color: #FFF; text-decoration: none; -webkit-transition: color 0.1s linear; transition: color 0.1s linear; -webkit-tap-highlight-color: transparent; }
.lang-extra__link:hover { color: #EF5A28; }

.bg { position: absolute; background-image: url("../img/bg-menu.jpg"); background-repeat: no-repeat; background-position: bottom left; background-size: cover; color: #FFF; width: 100%; height: 100%; }
.bg:before { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.3); }
.bg.bg_welcome:after { content: ""; position: absolute; background: url('../img/icons.png') 0 -1510px no-repeat; width: 348px; height: 256px; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .bg.bg_welcome:after { background: url('../img/icons2x.png') 0 -3031px no-repeat; background-position: 0 -1516px; width: 346.5px; height: 256.5px; background-size: 347px 1772px; } }

.category-list { position: absolute; top: 0; right: 0; bottom: 0; width: 13.4%; }

.category-list__cell { position: relative; height: 12.5%; -moz-box-sizing: border-box; box-sizing: border-box; background: rgba(0, 0, 0, 0.4); border-top: 1px solid rgba(255, 255, 255, 0.05); }
.category-list__cell:before { content: ""; position: absolute; top: -2px; left: 50%; margin-left: -39px; background: url('../img/icons.png') 0 -206px no-repeat; width: 78px; height: 3px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .category-list__cell:before { background: url('../img/icons2x.png') 0 -512px no-repeat; background-position: 0 -256px; width: 78.5px; height: 3px; background-size: 347px 1772px; } }
.category-list__cell:first-child { border-top: none; }
.category-list__cell:first-child:before { display: none; }

.category { display: block; width: 100%; height: 100%; font-family: "lunchbox_bold", Arial, sans-serif; font-weight: normal; color: #FFF; text-decoration: none; text-align: center; text-transform: uppercase; white-space: nowrap; line-height: 1; text-align: center; font-size: 0; }
.category:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.category:after { display: none; content: ""; position: absolute; top: 50%; left: 0; width: 0px; height: 0px; border-style: solid; border-width: 11px 0 11px 11px; border-color: transparent transparent transparent #FFF; margin-top: -11px; }
.category .icon { display: block; margin: 0 auto 10px; }
.category:hover .icon:before { opacity: 1; }
.category.is-active:after { display: block; }
.category.is-active .icon:before { opacity: 1; }

.category__in { display: inline-block; vertical-align: middle; font-size: 17px; white-space: normal; max-width: 80px; }

.icon { display: inline-block; position: relative; }
.icon:before { content: ""; position: absolute; top: 0; left: 0; opacity: 0; -webkit-transition: opacity 0.1s linear; transition: opacity 0.1s linear; }
.icon:hover:before { opacity: 1; }

.icon-coffee { background: url('../img/icons.png') 0 -115px no-repeat; width: 27px; height: 21px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .icon-coffee { background: url('../img/icons2x.png') 0 -362px no-repeat; background-position: 0 -181px; width: 26px; height: 21px; background-size: 347px 1772px; } }
.icon-coffee:before { background: url('../img/icons.png') 0 -84px no-repeat; width: 27px; height: 21px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .icon-coffee:before { background: url('../img/icons2x.png') 0 -310px no-repeat; background-position: 0 -155px; width: 26px; height: 21px; background-size: 347px 1772px; } }

.icon-breakfast { background: url('../img/icons.png') 0 -27px no-repeat; width: 30px; height: 17px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .icon-breakfast { background: url('../img/icons2x.png') 0 -46px no-repeat; background-position: 0 -23px; width: 30.5px; height: 18px; background-size: 347px 1772px; } }
.icon-breakfast:before { background: url('../img/icons.png') 0 0 no-repeat; width: 30px; height: 17px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .icon-breakfast:before { background: url('../img/icons2x.png') 0 0 no-repeat; background-position: 0 0; width: 30.5px; height: 18px; background-size: 347px 1772px; } }

.icon-salad { background: url('../img/icons.png') 0 -1319px no-repeat; width: 33px; height: 25px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .icon-salad { background: url('../img/icons2x.png') 0 -2701px no-repeat; background-position: 0 -1351px; width: 32.5px; height: 24px; background-size: 347px 1772px; } }
.icon-salad:before { background: url('../img/icons.png') 0 -1284px no-repeat; width: 33px; height: 25px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .icon-salad:before { background: url('../img/icons2x.png') 0 -2643px no-repeat; background-position: 0 -1322px; width: 32.5px; height: 24px; background-size: 347px 1772px; } }

.icon-soups { background: url('../img/icons.png') 0 -1390px no-repeat; width: 27px; height: 26px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .icon-soups { background: url('../img/icons2x.png') 0 -2821px no-repeat; background-position: 0 -1411px; width: 27px; height: 26px; background-size: 347px 1772px; } }
.icon-soups:before { background: url('../img/icons.png') 0 -1354px no-repeat; width: 27px; height: 26px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .icon-soups:before { background: url('../img/icons2x.png') 0 -2759px no-repeat; background-position: 0 -1380px; width: 27px; height: 26px; background-size: 347px 1772px; } }

.icon-thai { background: url('../img/icons.png') 0 -1468px no-repeat; width: 38px; height: 32px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .icon-thai { background: url('../img/icons2x.png') 0 -2957px no-repeat; background-position: 0 -1479px; width: 37px; height: 32px; background-size: 347px 1772px; } }
.icon-thai:before { background: url('../img/icons.png') 0 -1426px no-repeat; width: 38px; height: 32px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .icon-thai:before { background: url('../img/icons2x.png') 0 -2883px no-repeat; background-position: 0 -1442px; width: 37px; height: 32px; background-size: 347px 1772px; } }

.icon-juices { background: url('../img/icons.png') 0 -1010px no-repeat; width: 25px; height: 25px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .icon-juices { background: url('../img/icons2x.png') 0 -2137px no-repeat; background-position: 0 -1069px; width: 25.5px; height: 25.5px; background-size: 347px 1772px; } }
.icon-juices:before { background: url('../img/icons.png') 0 -975px no-repeat; width: 25px; height: 25px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .icon-juices:before { background: url('../img/icons2x.png') 0 -2076px no-repeat; background-position: 0 -1038px; width: 25.5px; height: 25.5px; background-size: 347px 1772px; } }

.icon-deserts { background: url('../img/icons.png') 0 -176px no-repeat; width: 20px; height: 20px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .icon-deserts { background: url('../img/icons2x.png') 0 -463px no-repeat; background-position: 0 -232px; width: 19px; height: 19.5px; background-size: 347px 1772px; } }
.icon-deserts:before { background: url('../img/icons.png') 0 -146px no-repeat; width: 20px; height: 20px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .icon-deserts:before { background: url('../img/icons2x.png') 0 -414px no-repeat; background-position: 0 -207px; width: 19px; height: 19.5px; background-size: 347px 1772px; } }

.icon-drinks { background: url('../img/icons.png') 0 -261px no-repeat; width: 11px; height: 32px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .icon-drinks { background: url('../img/icons2x.png') 0 -604px no-repeat; background-position: 0 -302px; width: 11px; height: 33px; background-size: 347px 1772px; } }
.icon-drinks:before { background: url('../img/icons.png') 0 -219px no-repeat; width: 11px; height: 32px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .icon-drinks:before { background: url('../img/icons2x.png') 0 -528px no-repeat; background-position: 0 -264px; width: 11px; height: 33px; background-size: 347px 1772px; } }

.logo-small { position: absolute; top: 6.83594%; left: 5.85938%; background: url('../img/icons.png') 0 -1045px no-repeat; width: 128px; height: 111px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .logo-small { background: url('../img/icons2x.png') 0 -2198px no-repeat; background-position: 0 -1099px; width: 128px; height: 111.5px; background-size: 347px 1772px; } }

.menu-btn { position: absolute; top: 8px; left: 8px; background: url('../img/icons.png') 0 -1225px no-repeat; width: 48px; height: 49px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .menu-btn { background: url('../img/icons2x.png') 0 -2537px no-repeat; background-position: 0 -1269px; width: 48px; height: 48px; background-size: 347px 1772px; } }

.menu-container { position: absolute; top: 0; bottom: 0; right: 13.4%; width: 256px; background: #FFF; }

.menu { position: relative; }

.menu__header { background: url('../img/icons.png') 0 -303px no-repeat; width: 257px; height: 74px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { .menu__header { background: url('../img/icons2x.png') 0 -804px no-repeat; background-position: 0 -402px; width: 257px; height: 74.5px; background-size: 347px 1772px; } }

/*# sourceMappingURL=screen.css.map */