extends _layout

block title
  title menu

block content
  //begin out
  .out
    .bg
      .center-logo

    .overlay

    button.menu-btn

    .logo-small

    .info
      .info__name
      .info__text

    ul.photo-container

    //begin categories
    ul.category-list
      li.category-list__cell
        .category(data-menu="coffee")
          .category__in
            i.icon.icon-coffee
            span coffee
      li.category-list__cell
        .category(data-menu="breakfast")
          .category__in
            i.icon.icon-breakfast
            span breakfast
      li.category-list__cell
        .category(data-menu="salad-bar")
          .category__in
            i.icon.icon-salad
            span salad bar
      li.category-list__cell
        .category(data-menu="soups-sandwiches")
          .category__in
            i.icon.icon-soups
            span soups& sandwiches
      li.category-list__cell
        .category(data-menu="thai-corner")
          .category__in
            i.icon.icon-thai
            span thai corner
      li.category-list__cell
        .category(data-menu="juices-smoothies")
          .category__in
            i.icon.icon-juices
            span juices& smoothies
      li.category-list__cell
        .category(data-menu="desserts-gelato")
          .category__in
            i.icon.icon-desserts
            span desserts& gelato
      li.category-list__cell
        .category(data-menu="drinks")
          .category__in
            i.icon.icon-drinks
            span drinks
    //end categories

    //begin menu
    .menu-container
      button.menu-container__close
      .menu-container__arrow
      header.menu-container__header
        span.head.head-coffee(data-menu="coffee")
        span.head.head-breakfast(data-menu="breakfast")
        span.head.head-salad(data-menu="salad-bar")
        span.head.head-soups(data-menu="soups-sandwiches")
        span.head.head-thai(data-menu="thai-corner")
        span.head.head-juices(data-menu="juices-smoothies")
        span.head.head-desserts(data-menu="desserts-gelato")
        span.head.head-drinks(data-menu="drinks")
        //- img(src="img/headers/breakfast.png", alt="breakfast")

      .menu(data-menu="coffee")
        .menu__inner
          .menu__title
            strong Breakfast
          ul.menu__list
            li.menu-item
              span.menu-item__price
                | 159
              span.menu-item__name
                | «Short Stack Jack»
              span.menu-item__about
                | French toast with maple syrup
                | Volume 150gr., Calories 155.15 kkg
                | Hot Serving, Not Spice.
              img.menu-item__photo(src="img/photos/photo.jpg", alt="")
            li.menu-item
              span.menu-item__price
                | 159
              span.menu-item__name
                | «<small>Les</small> Plaisirs Simples <small>de la</small> Vie»
              span.menu-item__about
                | French toast with maple syrup
                | Volume 150gr
              img.menu-item__photo(src="img/photos/photo2.png", alt="")
            li.menu-item
              span.menu-item__price
                | 1259
              span.menu-item__name
                | «Energizer  Bunny»
              img.menu-item__photo(src="img/photos/photo3.jpg", alt="")
            li.menu-item
              span.menu-item__price
                | 9
              span.menu-item__name
                | «Rise and Shine»
              img.menu-item__photo(src="img/photos/photo4.jpg", alt="")
            li.menu-item
              span.menu-item__price
                | 2290
              span.menu-item__name
                | «Northern Exposure»
            li.menu-item
              span.menu-item__price
                | 454
              span.menu-item__name
                | «Good Morning, Amigo!»
            li.menu-item
              span.menu-item__price
                | 454
              span.menu-item__name
                | «Wake Up and Go»
            li.menu-item
              span.menu-item__price
                | 3450
              span.menu-item__name
                | «Sabai Sabai Breakfast»
            li.menu-item
              span.menu-item__price
                | 99999
              span.menu-item__name
                | «Hangover Paradisee»

          .menu__title
            strong Fresh
          ul.menu__list
            li.menu-item
              span.menu-item__price
                | 45
              span.menu-item__name
                | Plain Croissant, Pain Au Chocolat, Pain Au Raisin, Cinnamon Roll, Apple, Blueberry or Cherry Danish

      .menu(data-menu="breakfast")
        .menu__inner
          .menu__title
            strong Breakfast
          ul.menu__list
            li.menu-item
              span.menu-item__price
                | 159
              span.menu-item__name
                | «Short Stack Jack»
            li.menu-item
              span.menu-item__price
                | 159
              span.menu-item__name
                | «<small>Les</small> Plaisirs Simples <small>de la</small> Vie»
            li.menu-item
              span.menu-item__price
                | 454
              span.menu-item__name
                | «Good Morning, Amigo!»
            li.menu-item
              span.menu-item__price
                | 454
              span.menu-item__name
                | «Wake Up and Go»
            li.menu-item
              span.menu-item__price
                | 3450
              span.menu-item__name
                | «Sabai Sabai Breakfast»
            li.menu-item
              span.menu-item__price
                | 99999
              span.menu-item__name
                | «Hangover Paradisee»

      .menu(data-menu="salad-bar")
        .menu__inner
          .menu__title
            strong Breakfast
          ul.menu__list
            li.menu-item
              span.menu-item__price
                | 159
              span.menu-item__name
                | «Short Stack Jack»
            li.menu-item
              span.menu-item__price
                | 159
              span.menu-item__name
                | «<small>Les</small> Plaisirs Simples <small>de la</small> Vie»
            li.menu-item
              span.menu-item__price
                | 1259
              span.menu-item__name
                | «Energizer  Bunny»
            li.menu-item
              span.menu-item__price
                | 9
              span.menu-item__name
                | «Rise and Shine»
            li.menu-item
              span.menu-item__price
                | 2290
              span.menu-item__name
                | «Northern Exposure»
            li.menu-item
              span.menu-item__price
                | 454
              span.menu-item__name
                | «Good Morning, Amigo!»
            li.menu-item
              span.menu-item__price
                | 454
              span.menu-item__name
                | «Wake Up and Go»
            li.menu-item
              span.menu-item__price
                | 3450
              span.menu-item__name
                | «Sabai Sabai Breakfast»
            li.menu-item
              span.menu-item__price
                | 99999
              span.menu-item__name
                | «Hangover Paradisee»

          .menu__title
            strong Fresh
          ul.menu__list
            li.menu-item
              span.menu-item__price
                | 45
              span.menu-item__name
                | Plain Croissant, Pain Au Chocolat, Pain Au Raisin, Cinnamon Roll, Apple, Blueberry or Cherry Danish
            li.menu-item
              span.menu-item__price
                | 2290
              span.menu-item__name
                | «Northern Exposure»
            li.menu-item
              span.menu-item__price
                | 454
              span.menu-item__name
                | «Good Morning, Amigo!»
            li.menu-item
              span.menu-item__price
                | 454
              span.menu-item__name
                | «Wake Up and Go»
            li.menu-item
              span.menu-item__price
                | 3450
              span.menu-item__name
                | «Sabai Sabai Breakfast»
            li.menu-item
              span.menu-item__price
                | 99999
              span.menu-item__name
                | «Hangover Paradisee»

      .menu(data-menu="soups-sandwiches")
        .menu__inner
          .menu__title
            strong Breakfast
          ul.menu__list
            li.menu-item
              span.menu-item__price
                | 454
              span.menu-item__name
                | «Wake Up and Go»
            li.menu-item
              span.menu-item__price
                | 3450
              span.menu-item__name
                | «Sabai Sabai Breakfast»
            li.menu-item
              span.menu-item__price
                | 99999
              span.menu-item__name
                | «Hangover Paradisee»

          .menu__title
            strong Fresh
          ul.menu__list
            li.menu-item
              span.menu-item__price
                | 45
              span.menu-item__name
                | Plain Croissant, Pain Au Chocolat, Pain Au Raisin, Cinnamon Roll, Apple, Blueberry or Cherry Danish
            li.menu-item
              span.menu-item__price
                | 2290
              span.menu-item__name
                | «Northern Exposure»
            li.menu-item
              span.menu-item__price
                | 454
              span.menu-item__name
                | «Good Morning, Amigo!»
            li.menu-item
              span.menu-item__price
                | 454
              span.menu-item__name
                | «Wake Up and Go»
            li.menu-item
              span.menu-item__price
                | 3450
              span.menu-item__name
                | «Sabai Sabai Breakfast»
            li.menu-item
              span.menu-item__price
                | 99999
              span.menu-item__name
                | «Hangover Paradisee»

      .menu(data-menu="thai-corner")
        .menu__inner
          .menu__title
            strong Breakfast
          ul.menu__list
            li.menu-item
              span.menu-item__price
                | 454
              span.menu-item__name
                | «Wake Up and Go»
            li.menu-item
              span.menu-item__price
                | 3450
              span.menu-item__name
                | «Sabai Sabai Breakfast»
            li.menu-item
              span.menu-item__price
                | 99999
              span.menu-item__name
                | «Hangover Paradisee»

          .menu__title
            strong Fresh
          ul.menu__list
            li.menu-item
              span.menu-item__price
                | 454
              span.menu-item__name
                | «Good Morning, Amigo!»

      .menu(data-menu="juices-smoothies")
        .menu__inner
          .menu__title
            strong Breakfast
          ul.menu__list
            li.menu-item
              span.menu-item__price
                | 454
              span.menu-item__name
                | «Wake Up and Go»
            li.menu-item
              span.menu-item__price
                | 3450
              span.menu-item__name
                | «Sabai Sabai Breakfast»
            li.menu-item
              span.menu-item__price
                | 99999
              span.menu-item__name
                | «Hangover Paradisee»

          .menu__title
            strong Fresh
          ul.menu__list
            li.menu-item
              span.menu-item__price
                | 454
              span.menu-item__name
                | «Good Morning, Amigo!»

          .menu__title
            strong Breakfast
          ul.menu__list
            li.menu-item
              span.menu-item__price
                | 454
              span.menu-item__name
                | «Wake Up and Go»
            li.menu-item
              span.menu-item__price
                | 3450
              span.menu-item__name
                | «Sabai Sabai Breakfast»
            li.menu-item
              span.menu-item__price
                | 99999
              span.menu-item__name
                | «Hangover Paradisee»

      .menu(data-menu="desserts-gelato")
        .menu__inner
          .menu__title
            strong Breakfast
          ul.menu__list
            li.menu-item
              span.menu-item__price
                | 454
              span.menu-item__name
                | «Wake Up and Go»
            li.menu-item
              span.menu-item__price
                | 3450
              span.menu-item__name
                | «Sabai Sabai Breakfast»
            li.menu-item
              span.menu-item__price
                | 99999
              span.menu-item__name
                | «Hangover Paradisee»

      .menu(data-menu="drinks")
        .menu__inner
          .menu__title
            strong Breakfast
          ul.menu__list
            li.menu-item
              span.menu-item__price
                | 454
              span.menu-item__name
                | «Wake Up and Go»
            li.menu-item
              span.menu-item__price
                | 3450
              span.menu-item__name
                | «Sabai Sabai Breakfast»
            li.menu-item
              span.menu-item__price
                | 99999
              span.menu-item__name
                | «Hangover Paradisee»

          .menu__title
            strong Fresh
          ul.menu__list
            li.menu-item
              span.menu-item__price
                | 454
              span.menu-item__name
                | «Good Morning, Amigo!»
            li.menu-item
              span.menu-item__price
                | 3450
              span.menu-item__name
                | «Sabai Sabai Breakfast»
            li.menu-item
              span.menu-item__price
                | 99999
              span.menu-item__name
                | «Hangover Paradisee»

      footer.menu-container__footer
        span.wave
    //end menu

  //end out
